<p>Name: <%= game.name %></p>
<br />
<%= game.description %><br />
<p><%= game.image_url %></p>
<br />
<!-- <p>Description: <%= game.description %></p> -->
<br />
<p>Age: <%= game.min_age %>+</p>
<br />
<p>Min Players: <%= game.min_players %></p>
<br />
<p>Max Players: <%= game.max_players %></p>
<br />
<p>User Rating: <%= game.average_user_ratings %></p>
<br />
