<ul>
	<li>
		<img src="<%= game.image_url %>" alt="" id="img" />
	</li>
	<br />
	<li>Name: <%= game.name %></li>
	<br />
	<li><%= game.description_preview %></li>
	<br />
	<li>Age: <%= game.min_age %>+</li>
	<br />
	<li>Min Players: <%= game.min_players %></li>
	<br />
	<li>Max Players: <%= game.max_players %></li>
	<br />
	<li>User Rating: <%= game.user_rating %></li>
	<br />
</ul>
