<ul>
	<li>
		<img src="<%= games.image_url %>" alt="" id="img" />
	</li>
	<br />
	<li>Name: <%= games.name %></li>
	<br />
	<li><%= games.description %></li>
	<br />
	<li>Age: <%= games.min_age %>+</li>
	<br />
	<li>Min Players: <%= games.min_players %></li>
	<br />
	<li>Max Players: <%= games.max_players %></li>
	<br />
	<li>User Rating: <%= games.user_rating %></li>
	<br />
</ul>
