<ul>
	<li id="list">
		<img src="<%= games.image_url %>" alt="" id="img" />
	</li>
	<br />
	<li id="list">Name: <%= games.name %></li>
	<br />
	<li id="list"><%= games.description %></li>
	<br />
	<li id="list">Age: <%= games.min_age %>+</li>
	<br />
	<li id="list">Min Players: <%= games.min_players %></li>
	<br />
	<li id="list">Max Players: <%= games.max_players %></li>
	<br />
	<li id="list">User Rating: <%= games.user_rating %></li>
	<br />
</ul>
