<link rel="stylesheet" href="/css/style.css" />

<% for (let i=0; i < games.length; i++) { %> <% let g = games[i] %>
<!-- card 1 -->
<div class="card">
	<div class="face face1">
		<div class="content">
			<p>
				<span><%= g.name %></span>
				<br />
				Age: <%= g.min_age %>+ <br />
				Total players: between <%= g.min_players %> & <%= g.max_players %>
				<br />
				length: between: <%= g.min_playtime %> & <%= g.max_playtime %> minutes
				<br />
			</p>
		</div>
	</div>
	<div class="face face2">
		<h2>
			<img src="<%= g.image_url %>" width="200" height="200" />
		</h2>
	</div>
</div>
<% } %>
